<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guide.safety.cybersafetyguide">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FacebookAppId" />

        <activity
            android:name="com.guide.safety.cybersafetyguide.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name="com.guide.safety.cybersafetyguide.Splash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.guide.safety.cybersafetyguide.about_us"
            android:label="@string/title_activity_about_us"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.guide.safety.cybersafetyguide.MainActivity" />
        </activity>

        <service
            android:name="com.guide.safety.cybersafetyguide.background"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.guide.safety.cybersafetyguide.victim"
            android:label="@string/title_activity_victim"
            android:parentActivityName="com.guide.safety.cybersafetyguide.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.guide.safety.cybersafetyguide.MainActivity" />
        </activity>
        <activity
            android:name="com.guide.safety.cybersafetyguide.victim_display"
            android:label="@string/title_activity_victim_display"
            android:parentActivityName="com.guide.safety.cybersafetyguide.victim"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.guide.safety.cybersafetyguide.victim" />
        </activity>
        <activity
            android:name="com.guide.safety.cybersafetyguide.Guideline"
            android:label="@string/title_activity_guideline"
            android:parentActivityName="com.guide.safety.cybersafetyguide.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.guide.safety.cybersafetyguide.MainActivity" />
        </activity>
        <activity
            android:name="com.guide.safety.cybersafetyguide.cyber_cells"
            android:label="@string/title_activity_cyber_cells"
            android:parentActivityName="com.guide.safety.cybersafetyguide.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.guide.safety.cybersafetyguide.MainActivity" />
        </activity>
        <activity android:name="com.guide.safety.cybersafetyguide.sign_in" />
        <activity android:name="com.guide.safety.cybersafetyguide.under_construction">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.guide.safety.cybersafetyguide.MainActivity" />
        </activity>
        <activity
            android:name="com.guide.safety.cybersafetyguide.consult_expert"
            android:label="@string/title_activity_consult_expert"
            android:parentActivityName="com.guide.safety.cybersafetyguide.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.guide.safety.cybersafetyguide.MainActivity" />
        </activity>
        <activity
            android:name="com.guide.safety.cybersafetyguide.cyber_cells_display"
            android:label="@string/title_activity_cyber_cells_display"
            android:parentActivityName="com.guide.safety.cybersafetyguide.cyber_cells"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.guide.safety.cybersafetyguide.cyber_cells" />
        </activity>
        <activity
            android:name="com.guide.safety.cybersafetyguide.threats"
            android:label="@string/title_activity_threats"
            android:parentActivityName="com.guide.safety.cybersafetyguide.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.guide.safety.cybersafetyguide.MainActivity" />
        </activity>
        <activity
            android:name="com.guide.safety.cybersafetyguide.threat_display"
            android:label="@string/title_activity_threat_display"
            android:parentActivityName="com.guide.safety.cybersafetyguide.threats"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.guide.safety.cybersafetyguide.threats" />
        </activity>
        <activity android:name="com.guide.safety.cybersafetyguide.sign_in_2" />
        <activity android:name="com.guide.safety.cybersafetyguide.reset_pass" />
        <activity android:name="com.guide.safety.cybersafetyguide.reset_pass_2" />
        <activity android:name="com.guide.safety.cybersafetyguide.change_pass" />
        <activity android:name="com.guide.safety.cybersafetyguide.registration" />
        <activity
            android:name="com.guide.safety.cybersafetyguide.welcome"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name="com.guide.safety.cybersafetyguide.login" />
        <activity android:name="com.guide.safety.cybersafetyguide.expert_panel">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.guide.safety.cybersafetyguide.about_us" />
        </activity>
        <activity
            android:name="com.guide.safety.cybersafetyguide.report"
            android:label="@string/title_activity_report"
            android:parentActivityName="com.guide.safety.cybersafetyguide.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.guide.safety.cybersafetyguide.MainActivity" />
        </activity>
        <activity
            android:name="com.guide.safety.cybersafetyguide.report_abuse"
            android:label="@string/title_activity_report_abuse"
            android:parentActivityName="com.guide.safety.cybersafetyguide.report"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.guide.safety.cybersafetyguide.report" />
        </activity>

    </application>

</manifest>